* {
  box-sizing: border-box;
}


.header {
  height: 300px;
  padding-top: 20px;
  text-align: center;
  
}
.say{
  font-weight: bold;
  color: darkblue;
}

.menu{
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 60;
  margin-top: 50px;
  text-align: center;
  background: rgb(231, 231, 231);
  color: rgb(65, 102, 74);
}



body {
  font-family: sans-serif;
  background-color: rgb(225, 246, 255);
  color: rgb(50, 0, 70);
  margin: 0;
}

.intro{
    text-align: center;
    background-color: rgb(222, 232, 247);
    width:1350px; 
    border:15px solid rgb(166, 163, 180);
    padding:40px; 
    margin:80px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(42, 78, 156);

}

.pic-container {
  height: 30%;
  width: 30%;
  margin: 10px 1em;
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 1;
  align-content: center;
}




.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.container {
  text-align: center;
  background-color: rgb(204, 231, 255);
  padding:20px;
  border:5px;
  border-color: rgb(91, 137, 223);
  border-style: dashed;
  color: rgb(70, 32, 139);
 
}

.find,
.inf,
.size {
  box-sizing: border-box;
  width: auto;
  padding: 40;
  
}

p {
  text-align: center;
  font-size: 20px;
}

h1 {
  text-align: center;
  color: rgb(75, 31, 126);
  font-family: serif;
  font-size: 100px;
  
}

h2 {
  text-align: center;
  color: rgb(79, 146, 233);
  
}


.navbar {
  display: grid;
  justify-content: right;
  border-bottom: 6px solid rgb(12, 0, 121);
  font-weight: 600;
}


.navbar a {
  color: #333;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #40314e;
  color: rgb(109, 233, 255);
}


.footer{
  height: 60;
  margin-top: 150px;
  text-align: center;
  color: #333;
}

}
